h1{
    margin-left: 195px;
    text-align: left;
    color: #7E9F19;
}
h1:hover{
    opacity: 0.5;
}
.row{
    width: 93%;
}
.container{
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    margin-left: 195px;
    background-color: #9575CD;
      border-radius: 20px;
}
body{

    background-color:  #7E57C2;
    margin: 0%;
    padding: 0%;
}

h2{

    border-color:#7E9F19;
}
img{
    width:20%;
    height:20%;
    border-radius: 20px;
}
.finishmenu{
    width: 100%;
    padding: 1.5rem;
    margin: 2%;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;


    border-color: #1c1b1b;
    background-color: #9575CD;
}
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
span{
    font-weight: bold;
    color:#00CED1;
}
/* unvisited link */
a:link {
    color: #00CED1;
}

.mt{
    margin-top: 20px;
}
