{% extends 'template.html' %}
{% block title %} Meu Site {% endblock %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/bootmeu.css" %}">
    <title>Aula Web</title>
</head>
<body>
<div class="row">
    <h1></h1>
    <div class="container mt">
        <h2>Passear na Avenida Paulista</h2>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/18/99/d8/ed/paulista.jpg">
        <p>
            Um dos principais centros financeiros da cidade, a avenida Paulista
            também possui diversas opções de entretenimento. Endereço do Museu
            de Arte de São Paulo, MASP, do Teatro Gazeta e muitos outros,
            a região é de fácil acesso graças as diversas linhas de ônibus que
            cruzam a avenida e a linha de metrô que passa por baixo dela.
        </p>
        <p>
            A avenida paulista sempre é assunto. O que será que estão falando a respeito
            no <a href="https://twitter.com/search?q=Avenida Paulista"><span>Twitter</span></a>
        </p>
    </div>
    <div class="container">
        <h2>Os bares da vila Madalena</h2>
        <img src="https://www.guiadasemana.com.br/contentFiles/image/opt_w840h0/2019juliana/lugares/vila-madalena/28060886-1719018988119237-4294555165498106193-o.jpg">
        <p>
            Depois de um dia de trabalho, nada melhor do que um bom chopp, um
            petisco e uma conversa em uma mesa de bar. Opções de sobra na região
            das ruas Aspicuelta, Fradique Coutinho e Wisard.
        </p>
        <p>
            Veja quais os melhores bares e restaurantes da região no
            <a href="https://vejasp.abril.com.br/cidades/melhor-da-vila-madalena-restaurantes/"><span>Guia Veja São Paulo</span></a>
        </p>
    </div>
    <div class="container">
        <h2>O parque do Ibirapuera</h2>
        <img src="https://abrilexame.files.wordpress.com/2019/03/parque-do-ibirapuera.gif">
        <p>
            Um dos cartões postais da cidade, o parque dispõe de mais de 1,5 km{^2}
            de área verde, lagos artificiais e pistas de cooper e ciclismo. E se
            isso não fosse o suficiente, o parque costuma ser palco de diversos
            eventos culturais ao longo do ano.
        </p>
        <p>
            Veja no <a href="http://goo.gl/maps/HoH8"><span>mapa</span></a>
            como chegar ao parque.
        </p>
    </div>
    <div class="container">
        <h3>E existem muitos outros lugares interessantes na cidade...</h3>
        <ol>
            <li>
                O Mercado Municipal.
            </li>
            <li>
                A Sala São Paulo
            </li>
            <li>Os Principais estadios dos principais times de futebol da cidade</li>
            <li>Diversos museus como o Memorial da América Latina, Museu da Lingua Portuguesa e o Museu do Ipiranga</li>
            <li>E mais!</li>
        </ol>
    </div>
    <div class="footer">
        Parte do livro "HTML5 e CSS3: Domine a web do futuro"
    </div>
</div>
</body>
</html>

{% endblock %}
